@page "/"

<h1>Утятизация: Dota 2</h1>

<h2>Хаб автоматизации статистики и новостей утиной Доты</h2>

<p>С вопросами и предложениями обращайтесь к утёнку <b>Hysteria</b> <i>aka</i> <b>Миша 14Девочек</b></p>